<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diney"
        tools:targetApi="31">
        <activity
            android:name=".SoloAsesinatos"
            android:exported="false" />
        <activity
            android:name=".Kingsman"
            android:exported="false" />
        <activity
            android:name=".Pompeya"
            android:exported="false" />
        <activity
            android:name=".PercyJackson"
            android:exported="false" />
        <activity
            android:name=".Mandalorian"
            android:exported="false" />
        <activity
            android:name=".Baymax"
            android:exported="false" />
        <activity
            android:name=".NuevaEsperanza"
            android:exported="false" />
        <activity
            android:name=".Shield"
            android:exported="false" />
        <activity
            android:name=".Up"
            android:exported="false" />
        <activity
            android:name=".LosIncreibles"
            android:exported="false" />
        <activity
            android:name=".ImperioContrataca"
            android:exported="false" />
        <activity
            android:name=".Cruella"
            android:exported="false" />
        <activity
            android:name=".HocusPocus"
            android:exported="false" />
        <activity
            android:name=".Cars"
            android:exported="false" />
        <activity
            android:name=".TheCreator"
            android:exported="false" />
        <activity
            android:name=".DoctorStrange"
            android:exported="false" />
        <activity
            android:name=".Buscador"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".CrearUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>